openapi: 3.1.0
info:
  title: Management API v2
  version: '2'
  termsOfService: 'https://kontent.ai/terms-of-service/'
  contact:
    name: Kontent.ai Support
    email: support@kontent.ai
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  description: '  '
servers:
  - url: 'https://manage.kontent.ai/v2'
    description: Management API v2
x-tagGroups:
  - name: Introduction
    tags:
      - About Management API
      - Postman collection
      - SDKs
      - Authentication
      - API keys
      - API limitations
      - Errors
      - Guidelines on handling changes
  - name: Resources
    tags:
      - Assets
      - Asset folders
      - Asset renditions
      - Collections
      - Content items
      - Content types
      - Content type snippets
      - Elements in content types
      - Elements in variants and assets
      - Environments
      - Language variants
      - Languages
      - Preview URLs
      - Publishing
      - References
      - Roles
      - Spaces
      - Taxonomy groups
      - Users
      - Validation
      - Webhooks
      - Workflows
tags:
  - name: About Management API
    description: >+
      Management API is a secure REST API that provides read and write access to
      your Kontent.ai projects and environments. If you'd like to manage
      subscriptions and users via API, use [Subscription
      API](https://kontent.ai/learn/link-to/id/b82919d3-b6d9-4d4f-86e2-5d673bdea9ca).


      Use Management API v2 to manage your content & assets, content model,
      environment settings, and users.


      The base URL for all requests to Management API is
      [```https://manage.kontent.ai/v2```](https://manage.kontent.ai/v2.).
      Requests must be made securely over HTTPS and authenticated with a valid
      [personal API
      key](https://kontent.ai/learn/link-to/id/f1d8684c-2037-4478-a723-e606f075aae4).
      Requests to the API are [rate
      limited](https://kontent.ai/learn/link-to/id/ea35e9bf-711d-4f2f-9da7-af79c825d55f)
      and uncached.


      ```curl

      curl --request GET 
        --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/items 
        --header 'Authorization: Bearer <YOUR_API_KEY>' 
        --header 'x-continuation: <continuation_token>' 
        --header 'Content-type: application/json'
      ```
       

      <div class="callout callout--info">


      **Need content filtering?**


      If you need to filter content and deliver it to your apps, we recommend
      using [Delivery REST
      API](https://kontent.ai/learn/link-to/id/1db12301-a138-44bb-a06a-bc3e655c098a)
      or [Delivery GraphQL
      API](https://kontent.ai/learn/link-to/id/bd5a77f0-eb91-489b-898b-f38ad299c743).</div>

  - name: Postman collection
    description: >-
      Try the [Kontent.ai APIs in Postman
      collection](https://www.postman.com/kontent-ai/workspace/kontent-ai-apis)!
      Our Postman collection is regularly updated and contains endpoints for all
      Kontent.ai APIs.


      ## Import the Postman collection


      We recommend that you [fork the **Kontent.ai APIs
      collection**](https://app.getpostman.com/run-collection/6878708-927efeee-a632-465f-9101-1ff0afa4b1a4?action=collection%2Ffork&collection-url=entityId%3D6878708-927efeee-a632-465f-9101-1ff0afa4b1a4%26entityType%3Dcollection%26workspaceId%3D236225ce-6a33-41ce-ac2d-8d4b9f410f14#?env%5BKontent.ai%20APIs%20sample%20values%5D=W3sia2V5IjoicHJvamVjdF9pZCIsInZhbHVlIjoiOTc1YmYyODAtZmQ5MS00ODhjLTk5NGMtMmYwNDQxNmU1ZWUzIiwiZW5hYmxlZCI6dHJ1ZSwic2Vzc2lvblZhbHVlIjoiOTc1YmYyODAtZmQ5MS00ODhjLTk5NGMtMmYwNDQxNmU1ZWUzIiwic2Vzc2lvbkluZGV4IjowfSx7ImtleSI6Im1hbmFnZW1lbnRBcGlLZXkiLCJ2YWx1ZSI6IjxVc2UgeW91ciBNYW5hZ2VtZW50IEFQSSBrZXk+IiwiZW5hYmxlZCI6dHJ1ZSwidHlwZSI6InNlY3JldCIsInNlc3Npb25WYWx1ZSI6IjxVc2UgeW91ciBNYW5hZ2VtZW50IEFQSSBrZXk+Iiwic2Vzc2lvbkluZGV4IjoxfSx7ImtleSI6InByZXZpZXdBcGlLZXkiLCJ2YWx1ZSI6IjxVc2UgeW91ciBQcmV2aWV3IEFQSSBrZXk+IiwiZW5hYmxlZCI6dHJ1ZSwidHlwZSI6InNlY3JldCIsInNlc3Npb25WYWx1ZSI6IjxVc2UgeW91ciBQcmV2aWV3IEFQSSBrZXk+Iiwic2Vzc2lvbkluZGV4IjoyfV0=).
      Forking lets you stay up to date by [pulling
      updates](https://learning.postman.com/docs/collaborating-in-postman/using-version-control/forking-entities/#pulling-updates-from-a-parent-element)
      when needed.


      Once you import the collection, you can start [sending
      requests](https://learning.postman.com/docs/sending-requests/requests/).
      Make sure to use environment variables for API keys.


      ## Use environment variables


      [Postman
      environments](https://learning.postman.com/docs/sending-requests/managing-environments/)
      are sets of variables with specific values. You can use these variables
      everywhere in your requests in Postman.


      For instance, the _Kontent.ai APIs_ collection comes with an environment
      called _Kontent.ai APIs sample values._ The environment specifies a
      variable named ```environment_id```, which is used in all requests. To get
      started quickly, we recommend you change the ```environment_id``` value to
      the ID of your own environment.
  - name: SDKs
    description: >-
      We offer the following SDKs to help you interact with Management API.
      However, you don't need an SDK to use the API.


      * [JavaScript/TypeScript
      SDK](https://kontent.ai/learn/link-to/id/552424ff-28ed-4668-86eb-55400da43d87)

      * [.NET
      SDK](https://kontent.ai/learn/link-to/id/fc2b0841-46c3-4fb4-9aa5-ea771b6fb221)
  - name: Authentication
    description: <SecurityDefinitions />
  - name: API keys
    description: >-
      ## Expiration


      The API key **expiration length is set to 6 months by default**. This is
      also the recommended expiration length.


      When creating or regenerating your API keys, you can specify your
      preferred API key expiration length. The **expiration length can vary from
      1 minute to 2 years**.


      ### Email reminders before expiration


      Before the API key expires, we'll send an email notification to the API
      key's owner.


      * If the expiration date is less than a day apart from the API key's
      creation date, the email notification is sent immediately.

      * If the expiration date is between 1–7 days apart form the API key's
      creation date, the email notification is sent 1 day before the expiration
      date.

      * If the expiration date is more than a week apart from the API key's
      creation date, the email notification is sent 1 week before the expiration
      date.


      ## Identity


      The API key for Management API inherits the identity of the user who
      generates the key.


      Any API operations performed with the key will show in the [content item
      version
      history](https://kontent.ai/learn/link-to/id/3548a05a-5c11-4669-9f9a-5440ef3f117c)
      and [audit
      log](https://kontent.ai/learn/link-to/id/1fa46e43-1540-4f52-bf74-79cd68de9d69#a-audit-changes-in-your-projects)
      as changes made by the specific user.


      ## Permission


      **The API key inherits the permissions of the user who creates it**. For
      example, if you have the permissions to only manage API keys and manage
      taxonomy, the API key you create allows you to use Management API and work
      only with the taxonomy endpoints. Using such API key with any other
      endpoints will result in an ```403 Unauthorized``` error.


      The **permission inheritance is dynamic**. The API key permissions are
      directly tied to the current role of the user who creates it. If your role
      permissions change, the permissions of your API key change as well. No
      need to regenerate the API key.


      ### Revocation


      If you regenerate your API key before its expiration date, the API key is
      revoked after a few minutes and you get a new API key. For requests made
      with a revoked API key, you receive the ```403 Unauthorized``` error. You
      cannot revoke an API key without generating a new one.


      The API key isn't revoked if you deactivate Management API for the
      project. Such API key remains valid and can be used again once Management
      API is activated for the project. 


      ## Scope


      The scope of the API key is **per project per user**. When you create or
      regenerate an API key in one of the project's
      [environments](https://kontent.ai/learn/link-to/id/c3f2cd46-66af-4191-a3dd-41c80eb2dcba),
      this action applies to all of the project's environments.


      This means you can use a single personal API key for all of your project's
      environments. For example, if you [clone an
      environment](https://kontent.ai/learn/link-to/id/5a32f201-f088-47ef-8112-e69590033572)
      using the API, you can use your current API key for the cloned
      environment.
  - name: API limitations
    description: >-
      ## API requests limit


      The requests made to the Management API count towards the overall API
      calls limit set in our [Fair Use Policy](https://kontent.ai/pricing/fup).
      For more information, see [Pricing FAQ](https://kontent.ai/pricing) on our
      Kontent.ai website.


      ## Rate limiting


      Rate limits specify the number of requests you or your application can
      make to the Management API within a specific time window. There are two
      separate time windows, second and minute, allowing a different number of
      requests each.


      By default, the Management API enforces the following rate limits:


      * **10** requests per second

      * **400** requests per minute


      The scope of API rate limits is per environment. Requests made with
      multiple API keys to a single environment count against a single rate
      limit.


      These limits apply to [requests made to a single
      environment](https://kontent.ai/learn/link-to/id/f1d8684c-2037-4478-a723-e606f075aae4).




      <div class="callout callout--info">


      **Avoid parallel requests**


      We strongly advise against making multiple requests to the API in
      parallel. Doing so may cause unpredictable behavior and lead to
      inconsistencies in your content. We recommend that you wait for each
      request to finish before sending another one.</div>

       

      When you reach the limit of a specific time window, the API will reject
      the request and respond with the [429 HTTP
      error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429 "Too
      Many Requests").


      ```json

      {
          "request_id": "80000004-0002-fd00-b63f-84710c7967bb",
          "error_code": 10000,
          "message": "API rate limit exceeded. Please retry your request later."
      }

      ```
       

      The error response will include the [```Retry-After```
      header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After)
      that tells you how many _seconds_ you need to wait before attempting
      further requests. Each failed request is perfectly safe to retry.


      If you begin to receive [429 HTTP
      errors](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429 "Too
      Many Requests"), reduce the frequency of your requests.
  - name: Errors
    description: >-
      The API returns standard HTTP status codes to indicate the success or
      failure of a request. In general, status codes in the ```2xx``` range
      indicate a successful request, status codes in the ```4xx``` range
      indicate errors caused by an incorrect input (for example, providing
      incorrect API key), and status codes in the ```5xx``` range indicate an
      error on our side.


      ## HTTP status codes summary


      | **Status code**                                               |
      **Description**                                                                                                                                                                                        
      |

      | ------------------------------------------------------------- |
      -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      |

      | ```400``` **Bad Request**                               | The request
      was not understood. Check if your request is missing a required parameter
      or contains an invalid query parameter
      value.                                                                    
      |

      | ```401``` **Unauthorized**                              | The provided
      API key is doesn't provide access to the requested resource. The error can
      also occur if the API key is malformed or missing. Try copying and pasting
      your current API key to avoid typos. |

      | ```403``` **Forbidden**                                 | The provided
      API key is valid but doesn't provide permission for the specified
      resource.                                                                                                               
      |

      | ```404``` **Not Found**                                 | The requested
      resource doesn't exist. Try checking the resource name for
      typos.                                                                                                                        
      |

      | ```405``` **Method Not Allowed**                        | The requested
      HTTP method is not supported for the specified
      resource.                                                                                                                                 
      |

      | ```429``` **Too Many Requests**                         | The rate limit
      for the API has been exceeded. Try your request again after a few seconds
      as specified in the ```Retry-After```
      header.                                                            |

      | ```5xx``` **Internal Error** or **Service Unavailable** | Something went
      wrong on our side. Try your request again after a few seconds and use a
      retry
      policy.                                                                                                   
      |


      ## Resolving errors


      For troubleshooting failed requests, the API provides error messages
      defined in a consumable format to help you identify and fix the issue.


      <SchemaDefinition schemaRef="#/components/schemas/error_object_4a56d27"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      If you cannot identify and resolve an issue with your API call, you can
      contact us with the response status and the request ID you get in the
      error response.
  - name: Guidelines on handling changes
    description: >-
      The state of the Management API may change in the future. However, the
      majority of the changes won't be breaking changes.


      To create more robust scripts and integrations, we recommend you get
      familiar with the list of general changes to the API that aren't
      considered breaking. Make sure your app doesn't rely on a state that might
      change in the future. In general, the non-breaking changes include adding
      functionality or changes in the order of the returned data.


      The following are NOT breaking changes:


      * General:  
         * Add a new endpoint.  
         * Change the API behavior to fix a bug in the service.  
         * Change the rate limitation.  
         * Change error message text.
      * Responses:  
         * Add a new property to JSON objects.  
         * Change the order of JSON object properties.  
         * Add a new type of element for content types or snippets.  
         * Add a new HTML element to rich text elements.  
         * Add a new attribute to the HTML element in rich text elements.  
         * Add a new value to the HTML element attribute in rich text elements.  
         * Change the order of HTML element attributes in rich text elements.  
         * Represent some characters as HTML entities.  
         * Add a new response header.  
         * Add a body to a request that contained none.
      * Requests:  
         * Add a new optional property to JSON objects.  
         * Add a new optional attribute to the HTML element in rich text elements.  
         * Add a new value to the HTML element attribute in rich text elements.  
         * Add a new optional request header.  
         * Add a new optional query string parameter.  
         * Add an optional body to a request that contained none.
  - name: Assets
    description: >-
      Assets in Kontent.ai consist of a reference to a binary file and metadata
      describing the file. Each binary file can be referenced only by a single
      asset.


      Binary files that are not used by any assets will not be visible in the
      Kontent.ai UI.




      <div class="callout callout--tip">


      **Adding assets is a 2-step process**


      1. [Upload a binary file](#operation/upload-a-binary-file) to get a file
      reference to the file.

      2. Use the file reference to [create a new asset](#operation/add-an-asset)
      that references the uploaded file.</div>

       

      ## Asset object


      <SchemaDefinition schemaRef="#/components/schemas/asset"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Asset folders
    description: >-
      Asset folders organize the assets in Kontent.ai just like folders in real
      life or folders on your devices.


      ## Asset folders object


      <SchemaDefinition schemaRef="#/components/schemas/asset_folders"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Asset renditions
    description: >-
      With [advanced asset
      management](https://kontent.ai/learn/link-to/id/2123ff88-1dc2-476c-b9bd-877821fe0110),
      you can [customize
      images](https://kontent.ai/learn/link-to/id/41122488-31c5-47ba-8444-05a3e87d10a0).
      Whenever you customize an image (by cropping it, for example), the
      customized version of the original image is saved as the image's
      rendition.


      Rendition defines what [image
      transformation](https://kontent.ai/learn/link-to/id/12c3cb42-21d4-4263-9943-77f74418cb2f)
      parameters need to be applied to the original image to get the customized
      image.


      ## Rendition object


      <SchemaDefinition schemaRef="#/components/schemas/rendition_in_mapi"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Collections
    description: >-
      Collections set boundaries for your content items. Check out [use cases
      for
      collections](https://kontent.ai/learn/link-to/id/56b1ed90-6558-4945-8a57-34b6ecd5a5ea)
      and see how to [set up
      collections](https://kontent.ai/learn/link-to/id/f48c2c0b-755f-4d23-bd5d-7201fe5fff01).


      ## Collection object


      <SchemaDefinition schemaRef="#/components/schemas/content_collection"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Content items
    description: >-
      To manage content items, send your requests to URIs based on the following
      patterns:


      * Using internal IDs: ```<base_URL>/items/<content_item_id>```

      * Using codenames: ```<base_URL>/items/codename/<content_item_codename>```

      * Using external IDs:
      ```<base_URL>/items/external-id/<content_item_external_identifier>```


      To [retrieve language
      variants](https://kontent.ai/learn/link-to/id/5cd82cab-32eb-46a4-8551-621656c7094a)
      of a specific content item, you can list the variants by specifying the
      internal ID, codename, or external ID of the content item.


      ## Content item object


      <SchemaDefinition schemaRef="#/components/schemas/content_item_9219b5f"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Content types
    description: >-
      ## Content type object


      <SchemaDefinition schemaRef="#/components/schemas/content_type_faa3f68"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Content group object


      <SchemaDefinition schemaRef="#/components/schemas/content_group"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Content type snippets
    description: >-
      The content type snippet model is structurally identical to the [content
      type
      model](https://kontent.ai/learn/link-to/id/09b103e0-7bda-473c-9a26-7b6fe627e74e)
      with these exceptions:


      1. Snippets cannot contain the [URL slug](#section/URL-slug-type-element)
      and [content type snippet](#section/Content-type-snippet-element)
      elements.

      2. Snippets cannot specify their own [content
      groups](#section/Content-type-object).


      You can reference snippets in your content types by using the [content
      type snippets element](#section/Content-type-snippet-element). The snippet
      element can also be assigned to a content group for a better authoring
      experience.
  - name: Elements in content types
    description: >-
      When you retrieve or update [content
      types](https://kontent.ai/learn/link-to/id/09b103e0-7bda-473c-9a26-7b6fe627e74e),
      you will work with a set of elements.


      ## Asset type element


      Asset element used in a content type.


      <SchemaDefinition schemaRef="#/components/schemas/asset_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Content type snippet element


      The content type snippet elements contain the ```snippet``` property with
      a
      [reference](https://kontent.ai/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e)
      to a specific content type snippet.


      Learn more about [reusing groups of
      elements](https://kontent.ai/learn/link-to/id/03f09b0c-682e-4a17-b090-36ca21f0ebef)
      with snippets.


      <SchemaDefinition
      schemaRef="#/components/schemas/content_type_snippet_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Custom type element


      [Create your own custom
      element](https://kontent.ai/learn/link-to/id/70496a22-6c7a-4c15-ab88-b70b9f3d24f1)[,](https://kontent.ai/learn/link-to/id/70496a22-6c7a-4c15-ab88-b70b9f3d24f1)
      or see the [integrations topic on
      GitHub](https://github.com/topics/kontent-ai-integration
      "kontent-ai-integration · GitHub Topics · GitHub") and the [custom
      elements overview](https://kontent.ai/integrations/ "Kontent.aiʼs
      Integrations and Extensions | Kontent.ai.") to find custom elements you
      can use or customize for your scenario.


      <SchemaDefinition schemaRef="#/components/schemas/custom_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Date and time type element


      <SchemaDefinition
      schemaRef="#/components/schemas/date___time_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Guidelines type element


      Guidelines elements do not contain the ```name``` property.


      <SchemaDefinition
      schemaRef="#/components/schemas/guidelines_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Linked items type element


      <SchemaDefinition
      schemaRef="#/components/schemas/linked_items_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Number type element


      <SchemaDefinition schemaRef="#/components/schemas/number_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Multiple choice type element


      <SchemaDefinition
      schemaRef="#/components/schemas/multiple_choice_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Rich text type element


      <SchemaDefinition
      schemaRef="#/components/schemas/rich_text_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Subpages type element


      The _Subpages_ element requires [Web
      Spotlight](https://kontent.ai/learn/link-to/id/fd0a51f1-703e-4eba-9882-5874d3ab61f3).


      <SchemaDefinition
      schemaRef="#/components/schemas/subpages_element_in_type_5653f08"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Taxonomy type element


      <SchemaDefinition
      schemaRef="#/components/schemas/taxonomy_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Text type element


      <SchemaDefinition schemaRef="#/components/schemas/text_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## URL slug type element


      Learn more about the use of [URL
      slugs](https://kontent.ai/learn/link-to/id/478df623-4456-4413-92fe-04c360f679f3)
      and [content type
      snippets](https://kontent.ai/learn/link-to/id/03f09b0c-682e-4a17-b090-36ca21f0ebef)
      within Kontent.ai.


      <SchemaDefinition
      schemaRef="#/components/schemas/url_slug_element_in_type"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Elements in variants and assets
    description: >-
      When you retrieve or update [language
      variants](https://kontent.ai/learn/link-to/id/153c924f-ed81-4236-8cfb-7937329654d8)
      or
      [assets](https://kontent.ai/learn/link-to/id/2b7d6556-7d92-4554-a2df-644af2d77379),
      you will work with a set of elements. The set contains the elements as
      defined in the content type or asset type. The elements come in the form
      of key-value pairs and contain only information about their values, not
      their type.


      Currently, only the taxonomy element is supported in the assets.




      <div class="callout callout--info">


      **About element identifiers**


      In API responses, the Management API will always reference content
      elements with their internal IDs. When creating or updating [language
      variants](https://kontent.ai/learn/link-to/id/153c924f-ed81-4236-8cfb-7937329654d8)
      or
      [assets](https://kontent.ai/learn/link-to/id/2b7d6556-7d92-4554-a2df-644af2d77379)
      via the API, you can reference content elements by their internal IDs or
      codenames.</div>

       

      ## Asset element


      <SchemaDefinition
      schemaRef="#/components/schemas/asset_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Custom element


      [Create your own custom
      element](https://kontent.ai/learn/link-to/id/70496a22-6c7a-4c15-ab88-b70b9f3d24f1)[,](https://kontent.ai/learn/link-to/id/70496a22-6c7a-4c15-ab88-b70b9f3d24f1)
      or see the [integrations topic on
      GitHub](https://github.com/topics/kontent-ai-integration
      "kontent-ai-integration · GitHub Topics · GitHub") and the [custom
      elements overview](https://kontent.ai/integrations/ "Kontent.aiʼs
      Integrations and Extensions | Kontent.ai.") to find custom elements you
      can use or customize for your scenario.


      <SchemaDefinition
      schemaRef="#/components/schemas/custom_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Date and time element


      <SchemaDefinition
      schemaRef="#/components/schemas/date___time_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Linked items element


      <SchemaDefinition
      schemaRef="#/components/schemas/linked_items_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Multiple choice element


      <SchemaDefinition
      schemaRef="#/components/schemas/multiple_choice_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Number element


      <SchemaDefinition
      schemaRef="#/components/schemas/number_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Rich text element


      <SchemaDefinition
      schemaRef="#/components/schemas/rich_text_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ### HTML5 elements allowed in rich text


      The rich text value can contain specific HTML elements, tags, and
      attributes, and must form a valid HTML5 fragment. Only the documented HTML
      attributes are supported. When transforming HTML to JSON, make sure to
      escape all double quotes.


      #### Top-level elements


      The following HTML elements must be used at the top level in rich text
      content. They can also be used within a table cell ```<td>```.


      |
      **Types**                                                                                              
      | **HTML
      elements**                                                                                                                                         
      |
      **Notes**                                                                                                                                                                                                                                                                                                                         
      |

      |
      -------------------------------------------------------------------------------------------------------
      |
      ----------------------------------------------------------------------------------------------------------------------------------------------------------
      |
      ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      |

      |
      Paragraphs                                                                                             
      |
      ```<p>...</p>```                                                                                                                                    
      | Can contain text with [inline formatting
      elements](#section/Elements-for-inline-text-formatting).                                                                                                                                                                                                                                 
      |

      |
      Headings                                                                                               
      | ```<h1>...</h1>```, ```<h2>...</h2>```, ```<h3>...</h3>```,
      ```<h4>...</h4>```, ```<h5>...</h5>```, ```<h6>...</h6>``` | Can contain
      text with [inline formatting
      elements](#section/Elements-for-inline-text-formatting).                                                                                                                                                                                                                                 
      |

      |
      [Lists](#section/Lists-in-rich-text)                                                                   
      | ```<ol><li>...</li></ol>```,
      ```<ul><li>...</li></ul>```                                                                                      
      | Individual list items ```<li>``` can contain text with [inline
      formatting
      elements](#section/Elements-for-inline-text-formatting).                                                                                                                                                                                          
      |

      |
      [Assets](#section/Assets-in-rich-text)                                                                 
      | ```<figure ...><img
      ...></figure>```                                                                                                                
      |                                                                                                                                                                                                                                                                                                                                   
      |

      |
      [Tables](#section/Tables-in-rich-text)                                                                 
      |
      ```<table><tbody><tr><td>...</td></tr></tbody></table>```                                                                                           
      | The ```<thead>``` and ```<tfoot>``` tags are not supported. Individual
      table cells ```<td>``` can contain either text with [inline formatting
      elements](#section/Elements-for-inline-text-formatting), or [top-level
      elements](#section/Top-level-elements). Nested tables are not supported
      inside table cells. |

      | [Content items](#section/Content-items-in-rich-text) and
      [components](#section/Components-in-rich-text) | ```<object
      ...></object>```                                                                                                                         
      | Content items and components are not supported inside table
      cells.                                                                                                                                                                                                                                                                
      |


      #### Elements for inline text formatting


      The following inline HTML elements can be used within the [top-level
      elements](#section/Top-level-elements) and table cells.


      | **Types**                            | **HTML elements**               
      |
      **Notes**                                                                                                   
      |

      | ------------------------------------ | --------------------------------
      |
      ------------------------------------------------------------------------------------------------------------
      |

      | Bold text                            | ```<strong>...</strong>``` | The
      ```<b>``` tag is not
      supported.                                                                   
      |

      | Italic text                          | ```<em>...</em>```         | The
      ```<i>``` tag is not
      supported.                                                                   
      |

      | Superscript                          | ```<sup>...</sup>```       |
      Superscript and subscript are mutually
      exclusive.                                                            |

      | Subscript                            | ```<sub>...</sub>```       |
      Superscript and subscript are mutually
      exclusive.                                                            |

      | Code                                 |
      ```<code>...</code>```                  
      |                                                                                                             
      |

      | [Links](#section/Links-in-rich-text) | ```<a ...>...</a>```       | For
      the list of supported ```<a>``` attributes, see [Links in rich
      text](#section/Links-in-rich-text). |

      | Line breaks                          | ```<br/>```               
      |                                                                                                             
      |


      ### Assets in rich text


      Assets in rich text are defined by the block element ```<figure>``` which
      requires one of the following attributes: ```data-asset-id``` or
      ```data-asset-external-id```. The ```data-asset-external-id``` attribute
      can also reference an object that was not yet imported into Kontent.ai.
      Find more about [external IDs for imported
      content](#section/External-IDs-for-imported-content).


      When inserting values in rich text, the ```<img>``` element is optional.
      Otherwise, the ```<img>``` element requires the attributes ```src``` and
      ```data-asset-id```.


      ```json

      {

      ...
        "element": {
          "codename": "asset_referenced_by_internal_id"
        },
        "value": "<figure data-asset-id="512047f1-2f7f-45fd-9e90-e71b8feae017"><img src="#" data-asset-id="512047f1-2f7f-45fd-9e90-e71b8feae017"></figure>"
      ...
        "element": {
          "codename": "asset_referenced_by_internal_id"
        },
        "value": "<figure data-asset-external-id="coffee_beans"></figure>"
      ...

      }

      ```
       

      ### Components in rich text


      Components in rich text are defined by the ```<object>``` block element.
      The ```<object>``` element requires the ```type```, ```data-type```, and
      ```data-id``` attributes.


      ```json

      {

      ...
        "element": {
          "codename": "component_referenced_by_internal_id"
        },
        "value": "<object type="application/kenticocloud" data-type="component" data-id="382abced-bfb6-4ee9-a2d4-2c3b8cd8ba5d"></object>"
      ...

      }

      ```
       

      For each component in the text, the rich text object's ```components```
      property must hold a matching component object. When specifying components
      in the rich text's ```value``` property, you need to provide a unique ID
      (GUID) for the ```data-id``` attribute of each component.


      #### Component object


      <SchemaDefinition schemaRef="#/components/schemas/rich_text_component"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      #### Nesting of components


      If the inserted component contains a rich text element, the rich text
      element may contain more components. These nested components may contain
      another rich text element with more components, and so on. The components
      can be nested up to 6 levels deep.


      ```json

      {
        "element": {
          "id": "49150275-064b-5314-be6e-b93e1d7661e1"
        },
        "value": "<p>Level 1: Content in a rich text element</p>n<object type="application/kenticocloud" data-type="component" data-id="382abced-bfb6-4ee9-a2d4-2c3b8cd8ba5d"></object>",
        "components": [
          {
            "id": "382abced-bfb6-4ee9-a2d4-2c3b8cd8ba5d",
            "type": {
              "id": "f4cb13df-d61d-572e-8f3b-3afe7e3a7ea1"
            },
            "elements": [
              {
                "element": {
                  "id": "0b9173d6-1c94-5fb0-a010-86eef9013fd4"
                },
                "value": "<p>Level 2: content in a nested component</p>n<object type="application/kenticocloud" data-type="component" data-id="7c1ca8b2-2fa8-41d8-be02-bf157d3fa225"></object>",
                "components": [
                  {
                    "id": "7c1ca8b2-2fa8-41d8-be02-bf157d3fa225",
                    "type": {
                      "id": "37684e4c-9303-589b-a937-c7c165171b38"
                    },
                    "elements": [
                      {
                        "element": {
                          "id": "ff50c0e0-226e-5474-b71b-2af194edd7c4"
                        },
                        "value": "<p>Level 3: content in a nested component</p>",
                        "components": []
                      }
                    ]
                  }
                ]
              },
              {
                "element": {
                  "id": "edd22f22-ccd6-56e6-9fe2-676a7e250d8c"
                },
                "value": [
                  {
                    "id": "f206b928-7609-5192-bd31-6eb6aae48096"
                  }
                ]
              }
            ]
          }
        ]
      }

      ```
       

      ### Content items in rich text


      Content items in rich text are defined by the ```<object>``` block
      element. The ```<object>``` element requires the attributes ```type```,
      ```data-type```, and either ```data-id``` or ```data-external-id```. The
      ```data-external-id``` attribute can also reference an object that has not
      yet been imported into Kontent.ai. Find more about [external IDs for
      imported content](#section/External-IDs-for-imported-content).


      ```json

      {

      ...
        "element": {
          "codename": "item_referenced_by_internal_id"
        },
        "value": "<object type="application/kenticocloud" data-type="item" data-id="f4b3fc05-e988-4dae-9ac1-a94aba566474"></object>"
      ...
        "element": {
          "codename": "item_referenced_by_external_id"
        },
        "value": "<object type="application/kenticocloud" data-type="item" data-external-id="59713"></object>"
      ...

      }

      ```
       

      ### Links in rich text


      Links in rich text are defined as the ```<a>``` element, for example,
      ```<a href="#">Link</a>```. These links can be used for web URLs, email
      addresses, assets, and content items. For each of the link types, the
      ```<a>``` element supports a different set of required and optional
      attributes.


      #### Links to URLs


      Links to URLs require the ```href``` attribute.




      <div class="callout callout--info">


      **Inserting URL values**


      When inserting URL values, the system might add the `http://` prefix in
      case the provided URL is invalid or not safe. For example, URLs using the
      `javascript://` protocol will be prefixed. URL values starting with `/`,
      `?`, or `#` are allowed.


      Examples of how inserted URLs are stored:


      * `http://example.com` → `http://example.com` (no change)

      * `https://example.com` → `https://example.com` (no change)

      * `ftp://example.com` → `ftp://example.com` (no change)

      * `example.com` → `http://example.com`

      * `about-us.html` → `http://about-us.html`

      * `/about-us.html` → `/about-us.html` (no change)

      * `?query` → `?query` (no change)

      * `#anchor` → `#anchor` (no change)

      * `javascript:alert()` → `http://javascript:alert()`

      * `javascript://%0aalert()` → `http://javascript://%0aalert()`

      * `data:text/html,<script>alert()</script>`→
      `http://data:text/html,<script>alert()</script>`</div>

       

      Optionally, the link can specify a title and whether the link should be
      opened in a new browser window.


      * If the link should provide a title, the ```<a>``` element must specify
      the ```title``` attribute with a value.

      * If the link should open in a new window, the ```<a>``` element must
      specify the ```data-new-window``` attribute set to true.



      <div class="callout callout--info">


      Other `<a>` attributes, such as `target` and `rel`, are not supported for
      URL links.</div>

       ```json
      {

      ...
        "element": {
          "codename": "link_to_url"
        },
        "value": "<p><a href="https://example.com">example link</a></p>"
      ...
        "element": {
          "codename": "link_to_url_new_window"
        },
        "value": "<p><a href="https://example.com" data-new-window="true">example link</a></p>"
      ...
        "element": {
          "codename": "link_to_url_with_title"
        },
        "value": "<p><a href="https://example.com" title="Example">example link</a></p>"
      ...

      }

      ```
       

      #### Links to email addresses


      Email links require the ```data-email-address``` attribute . Optionally,
      the link can contain the ```data-email-subject``` attribute.


      ```json

      {

      ...
        "element": {
          "codename": "link_to_email_address"
        },
        "value": "<p><a data-email-address="sales@kontent.ai"
                  data-email-subject="Can you show me around the Kontent.ai platform?">reach out</a></p>"
      ...

      }

      ```
       

      #### Links to phone numbers


      Phone links require the ```data-phone-number``` attribute.


      ```json

      {

      ...
        "element": {
          "codename": "link_to_phone_number"
        },
        "value": "<p><a data-phone-number="+31-682144594">+31-682144594</a></p>"
      ...

      }

      ```
       

      #### Links to assets


      Links to assets require one of the following attributes:
      ```data-asset-id``` or ```data-asset-external-id```. The
      ```data-asset-external-id``` attribute can also reference an object that
      has not yet been imported into Kontent.ai. Find more about [external IDs
      for imported content](#section/External-IDs-for-imported-content).


      ```json

      {

      ...
        "element": {
          "codename": "asset_linked_by_internal_id"
       },
        "value": "<a data-asset-id="0b590263-3fe5-4773-afae-5a3f6e511e66">link to an asset</a>"
      ...
        "element": {
          "codename": "asset_linked_by_external_id"
        },
        "value": "<a data-asset-external-id="custom-asset-identifier">link to another asset</a>"
      ...

      }

      ```
       

      #### Links to content items


      Links to content items require one of the following attributes:
      ```data-item-id``` or ```data-item-external-id```. The
      ```data-item-external-id``` attribute can also reference an object that
      has not yet been imported into Kontent.ai. Find more about [external IDs
      for imported content](#section/External-IDs-for-imported-content).


      ```json

      {

      ...
        "element": {
          "codename": "item_linked_by_internal_id"
        },
        "value": "<a data-item-id="f4b3fc05-e988-4dae-9ac1-a94aba566474">link to a content item</a>"
      ...
        "element": {
          "codename": "item_linked_by_external_id"
        },
        "value": "<a data-item-external-id="my-1337-article">link to another content item</a>"
      ...

      }

      ```
       

      ### Lists in rich text


      Lists in rich text are defined as standard HTML lists, either ordered
      (```<ol>```) or unordered (```<ul>```). Each list item can contain another
      nested list, a piece of HTML formatted text, or be empty.


      ```json

      {

      ...
        "value": "<ol><li>A list item</li><li>Another list item<ul><li>Nested list item</li></ul></li></ol>"
      ...

      }

      ```
       

      ### Tables in rich text


      Tables in rich text elements are defined as standard HTML tables with the
      table cells and rows contained within the ```<tbody>``` element.
      Individual table cells (```<td>```) can contain either text with [inline
      formatting elements](#section/Elements-for-inline-text-formatting), or
      [top-level elements](#section/Top-level-elements). The tables cells and
      rows cannot be merged.


      ```json

      {

      ...
        "value": "<table><tbody><tr><td>Type A</td><td>Type B</td><td>Type C</td></tr>   <tr>   <td>12.4</td><td>3.14</td><td>34.1</td></tr></tbody></table>"
      ...

      }

      ```
       

      ## Subpages element


      The _Subpages_ element requires [Web
      Spotlight](https://kontent.ai/learn/link-to/id/fd0a51f1-703e-4eba-9882-5874d3ab61f3).


      <SchemaDefinition
      schemaRef="#/components/schemas/subpages_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Taxonomy element


      <SchemaDefinition
      schemaRef="#/components/schemas/taxonomy_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## Text element


      <SchemaDefinition schemaRef="#/components/schemas/text_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## URL slug element


      <SchemaDefinition
      schemaRef="#/components/schemas/url_slug_element_in_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Environments
    description: >-
      An environment is a snapshot of your project. Because environments are
      isolated snapshots, they aren't meant for content production. Use
      environments to safely update your content model and adjust your app. 


      Only users that are active in a specific environment can work within that
      environment. You also need a specific
      [permission](https://kontent.ai/learn/link-to/id/1470ff99-76cc-4071-ae9b-8ae363ee5dd5)
      to manage environments.
  - name: Language variants
    description: >-
      Language variants represent localized variants of [content
      items](https://kontent.ai/learn/link-to/id/087d28e4-8b1a-4310-93ac-cdf704414125).
      For example, when you have 2 active
      [languages](https://kontent.ai/learn/link-to/id/03e58bf4-6af1-456c-ad56-ec0a94b07007),
      each content item can have 2 variants.


      Every language variant is tied to a specific [content
      item](https://kontent.ai/learn/link-to/id/087d28e4-8b1a-4310-93ac-cdf704414125)
      and
      [language](https://kontent.ai/learn/link-to/id/03e58bf4-6af1-456c-ad56-ec0a94b07007).
      This means you need to specify a language identifier when you request the
      variant, even if your environment contains only one language.




      <div class="callout callout--info">


      If a [language is
      deactivated](https://kontent.ai/learn/link-to/id/9e0f560c-5ee4-4649-818a-c5f934b82f4a),
      the respective content item variants cannot be retrieved via Management
      API and the API returns a 404 not found error.</div>

       

      To manage language variants via Management API, send requests to URLs
      based on the following patterns:


      * Item ID + Language ID:
      ```<base_URL>/items/<content_item_id>/variants/<language_id>```

      * Item ID + Language codename:
      ```<base_URL>/items/<content_item_id>/variants/codename/<language_codename>```

      * Item codename + Language ID:
      ```<base_URL>/items/codename/<content_item_codename>/variants/<language_id>```

      * Item codename + Language codename:
      ```<base_URL>/items/codename/<content_item_codename>/variants/codename/<language_codename>```

      * Item external ID + Language ID:
      ```<base_URL>/items/external-id/<content_item_external_id>/variants/<language_id>```

      * Item external ID + Language codename:
      ```<base_URL>/items/external-id/<content_item_external_id>/variants/codename/<language_codename>```


      These endpoints accept GET, PUT, and DELETE requests, allowing you to
      retrieve, upsert, and delete language variants. You can mix and match the
      identifiers of content items and languages when requesting language
      variants.




      <div class="callout callout--tip">


      If you need to [return all the language variants for a specific content
      type](https://kontent.ai/learn/link-to/id/1480d925-5838-4910-9dd2-b8da3e9950c6),
      you can use a single GET request. The API returns a paginated response
      limited to up to 50 language variant objects per page.</div>

       

      ## Language variant object


      When copying or migrating variants, you can take the variant object
      returned when [retrieving a
      variant](https://kontent.ai/learn/link-to/id/9362d5ed-0819-46dd-aaa9-48c62f56e3f3)
      and use it without modification in the body of a request to [upsert a
      variant](https://kontent.ai/learn/link-to/id/9de98072-589d-4076-a8bc-688c86ac0a4c).


      <SchemaDefinition schemaRef="#/components/schemas/language_variant"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Languages
    description: >-
      Languages let you create localized content. Your content items can contain
      as many [language
      variants](https://kontent.ai/learn/link-to/id/153c924f-ed81-4236-8cfb-7937329654d8)
      as there are active languages in your
      [environment](https://kontent.ai/learn/link-to/id/c3f2cd46-66af-4191-a3dd-41c80eb2dcba).


      ## Language object


      <SchemaDefinition schemaRef="#/components/schemas/language_4d5cb3b"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Preview URLs
    description: >-
      Configure [preview
      URLs](https://kontent.ai/learn/link-to/id/c62f9339-3ba4-4a02-98a3-f4920cb591be)
      for each your [content
      types](https://kontent.ai/learn/link-to/id/6eec4ee8-1e14-433c-b35b-39e9d151a377).
      Every preview URL combines a
      [space](https://kontent.ai/learn/link-to/id/91b9506d-44dc-4029-8a7c-862aba001684)
      domain and a URL pattern.


      ## Preview configuration object


      <SchemaDefinition
      schemaRef="#/components/schemas/preview_configuration_object"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Publishing
    description: >-
      The API follows the [workflow transition
      limitations](https://kontent.ai/learn/link-to/id/d9aef4af-94c2-4376-a173-13b1c3f041ba)
      present in the UI. You can publish or schedule a variant only if you have
      the permission to move it to the workflow step.
  - name: References
    description: >-
      To identify specific objects in the environment, the API uses references
      to point to those objects.


      Internally, the API uses references by internal ID to point to other
      objects. When you're adding or modifying objects using the API, you can
      also reference the objects by their codenames or external IDs, if
      present. 


      ## Reference object


      The API uses internal IDs for referencing objects. This means that the
      reference objects in the API responses will always use internal IDs.


      <SchemaDefinition schemaRef="#/components/schemas/reference"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## How to specify an object reference


      When specifying references to objects, the object can be identified by
      **one** of three properties:


      1. Internal ID such as ```18b43cc5-f4fd-0172-842b-3ae2c878cf6f```  
         * Generated by the system automatically.  
         * Unique per object type such as content item, content type, and other.  
         * Can be used to specify any object.
      2. Codename such as ```object_codename```  
         * [Initially generated](#section/Rules-for-codenames) from the object's display name.  
         * Unique per object type such as content item, content type, and other.  
         * Can be used to specify most objects.
      3. External ID such as ```custom-object-identifier```  
         * Specified manually when creating the object through the Management API. The external ID cannot be changed later.  
         * Unique per object type within its parent object scope. For example, the uniqueness applies to elements within a content type, content types within an environment, content items within an environment, and so on. This also means you can have a content type and its element with the same external ID.  
         * Can be used to specify custom identifiers for user-created objects such as assets, content items, content types and more.

      ## Rules for codenames


      When editing codenames, the new codenames must meet the following
      conditions:


      * Only lowercase letters, numbers, and underscores are permitted.

      * Codenames must start with a letter or an underscore and have at least
      one character.

      * Codenames are usually limited to 60 characters, but longer codenames are
      allowed for multiple choice options and taxonomy terms.

      * Codenames of elements within a snippet must be prefixed with the
      snippet's codename.

      * Codenames must be unique per object type. This applies to, for example,
      every element within a content type, every content type within an
      environment, every content item within an environment, and so on.


      This means the following applies when codenames are generated
      automatically:


      * All letters are made lowercase.

      * All forbidden characters are replaced by ```_```.

      * For any names that start with a number, the codename will start with
      ```n```.

      * Codenames that duplicate another codename will have a random string
      attached to the end.

      * Codenames of elements within a snippet will be prefixed with the
      snippet's codename.

      * Codenames will be cut off at the character limit.


      ## External IDs for imported content


      By using external IDs to reference other objects, you can import your
      content in the order you prefer.


      For example, when importing multiple articles that contain images, you can
      reference these images with external IDs, such as ```roaster``` or
      ```coffee-cup```, before uploading them. The referenced images will be
      visible in the UI only after you [add them as
      assets](https://kontent.ai/learn/link-to/id/8106fbb4-1e56-4fd7-a59e-335a3a8f970d)
      via the API. With this approach, you can choose whether you want to create
      content items first and then upload binary files for assets, or vice
      versa.


      This means you can use external IDs to reference objects that don't exist
      yet and add the objects via the API later. References to non-existent
      objects will be stored and retrieved via the API as internal IDs.


      To check for any references to not-yet-created objects, we recommend you
      [validate your
      content](https://kontent.ai/learn/link-to/id/5211d778-59ac-43a8-9e9e-51338529c09a).




      <div class="callout callout--info">


      **Referencing objects that don't exist yet**


      With Management API, you can reference non-existent objects in the
      following elements:


      * [Linked items element](#section/Linked-items-element)

      * [Asset element](#section/Asset-element)

      * [Taxonomy element](#section/Taxonomy-element)

      * [Rich text element](#section/Rich-text-element) (as assets, content
      items, and links)


      See how to [import linked
      content](https://kontent.ai/learn/link-to/id/41e4c06e-d21d-42d3-b036-74ca098b0e53)
      to learn more.</div>

       

      ### Missing objects in the UI


      If you use external IDs to reference non-existent objects in your
      elements, the referenced objects won't be shown in the UI. This is because
      the system cannot find those objects. The referenced assets, content
      items, and taxonomy terms will be displayed after you create them with
      their specific external IDs via the Management API.


      To add the missing objects, see:


      * [Upsert a content
      item](https://kontent.ai/learn/link-to/id/43503441-2aa0-471a-8e70-6ca3b29b39a8)
      to create content items specified by external IDs.

      * [Upsert an
      asset](https://kontent.ai/learn/link-to/id/8106fbb4-1e56-4fd7-a59e-335a3a8f970d)
      to create assets specified by external IDs.

      * [Add a taxonomy
      group](https://kontent.ai/learn/link-to/id/98d52aed-510e-4da1-ab72-33ba97a574e2)
      to create taxonomy groups with external IDs.
  - name: Roles
    description: >-
      Roles define the permissions that you can assign to
      [users](https://kontent.ai/learn/link-to/id/8b110628-3f10-4cad-bfcb-508fc7d0cc1e)
      in your project and its environments. Use roles to [limit what your users
      can
      do](https://kontent.ai/learn/link-to/id/00455d52-6720-412e-9b09-3f4dc6b00dd7).




      <div class="callout callout--info">


      The endpoints for retrieving roles require [Enterprise
      plan](https://kontent.ai/pricing) and the [Manage custom
      roles](https://kontent.ai/learn/link-to/id/1470ff99-76cc-4071-ae9b-8ae363ee5dd5)
      permission.</div>

       

      ## Role object


      <SchemaDefinition
      schemaRef="#/components/schemas/untitled_content_item_02d6b2e"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Spaces
    description: >-
      [Spaces](https://kontent.ai/learn/link-to/id/d70e8064-24fb-47bd-b0ca-54d6c0b5de6e)
      helps you provide a channel-specific context for your content. One space
      equals one website or a different channel like mobile.


      ## Spaces object


      <SchemaDefinition schemaRef="#/components/schemas/space"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Taxonomy groups
    description: >-
      Taxonomies are a versatile tool for categorizing and organizing your
      content. Learn more about the [use cases for
      taxonomies](https://kontent.ai/learn/link-to/id/6a031f62-f076-4477-8b80-2e75115e9f32)
      and see how to [retrieve content tagged with a specific taxonomy
      term](https://kontent.ai/learn/link-to/id/c5772d90-44e8-4120-9d1c-515f20197759).


      ## Taxonomy group object


      <SchemaDefinition schemaRef="#/components/schemas/taxonomy_group_63e0994"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Users
    description: >-
      Users are specific people invited to your Kontent.ai project and its
      [environments](https://kontent.ai/learn/link-to/id/c3f2cd46-66af-4191-a3dd-41c80eb2dcba).




      <div class="callout callout--info">


      The endpoints for managing users in project environments require
      [Enterprise plan](https://kontent.ai/pricing) and the [Invite and manage
      project
      members](https://kontent.ai/learn/link-to/id/1470ff99-76cc-4071-ae9b-8ae363ee5dd5)
      permission.</div>

       

      ## User object


      <SchemaDefinition
      schemaRef="#/components/schemas/untitled_content_item_ceb5563"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      ## User management


      Management API and Subscription API together provide combined capabilities
      to manage users' access and assignments to your projects under a specified
      subscription.


      Under a specified subscription, you can manage your users via Subscription
      API which enables you to:


      *
      [](https://kontent.ai/learn/link-to/id/f9ad5c17-dc3d-42d1-b2c1-d198247cabdf)[List
      users under a
      subscription](https://kontent.ai/learn/link-to/id/f9ad5c17-dc3d-42d1-b2c1-d198247cabdf)
      in your projects and environments.

      *
      [](https://kontent.ai/learn/link-to/id/28cf9ea3-2422-4fdc-852a-0e1e1d088c2c)[Retrieve
      a user to see their
      metadata](https://kontent.ai/learn/link-to/id/28cf9ea3-2422-4fdc-852a-0e1e1d088c2c).

      * Manage access to all your projects by
      [](https://kontent.ai/learn/link-to/id/cddae0a1-b591-41e2-a760-845d1909b876)[activating](https://kontent.ai/learn/link-to/id/cddae0a1-b591-41e2-a760-845d1909b876)
      or
      [](https://kontent.ai/learn/link-to/id/09c53d83-0111-469c-b89d-45767b79ed20)[deactivating](https://kontent.ai/learn/link-to/id/09c53d83-0111-469c-b89d-45767b79ed20)
      a user.


      You can also use Management API to
      [](https://kontent.ai/learn/link-to/id/0b7dd158-37fa-4bcf-af6c-0b8f414149be)[invite
      users](https://kontent.ai/learn/link-to/id/0b7dd158-37fa-4bcf-af6c-0b8f414149be)
      and
      [](https://kontent.ai/learn/link-to/id/bf7654d9-a9ba-4519-842c-5b8a9a70f4df)[change
      users'
      roles](https://kontent.ai/learn/link-to/id/bf7654d9-a9ba-4519-842c-5b8a9a70f4df)
      in your projects.
  - name: Validation
    description: >-
      After [importing your
      content](https://kontent.ai/learn/link-to/id/0c77c79d-0c26-4321-82cc-80145cac9d28)
      into Kontent.ai, you can validate your content to check for any issues.


      ## How to validate your content


      First, [start a content
      validation](https://kontent.ai/learn/link-to/id/a291911d-fb2d-4023-850e-0ee09f91c462)
      to get a validation task. The validation task identifies the validation
      that you started and you'll use the task to [check the progress of your
      validation](https://kontent.ai/learn/link-to/id/ee2eec82-2f99-4807-8e10-f586a0aa17b4).


      The validation task lets you know whether the validation was completed
      successfully and if there were any issues with content in the specified
      [environment](https://kontent.ai/learn/link-to/id/c3f2cd46-66af-4191-a3dd-41c80eb2dcba).


      <SchemaDefinition
      schemaRef="#/components/schemas/untitled_content_item_b42e4a1"
      showReadOnly={true} showWriteOnly={true} showExample={true}/> 


      If the validation task completes with its ```validation_result``` set to
      ```issues_found```, your next step is to [list the validation
      issues](https://kontent.ai/learn/link-to/id/ee2d0ff5-7632-4497-bbd3-48f2e1619ded).
      This way you can check for errors and mistakes in your content and fix
      them.
  - name: Webhooks
    description: >-
      Webhooks are useful for receiving immediate notifications when something
      changes such as newly published content. Learn more about [how to use and
      debug
      webhooks](https://kontent.ai/learn/link-to/id/5b87f0a1-c271-449d-a9dc-04f995c89589).


      ## Webhook object


      <SchemaDefinition schemaRef="#/components/schemas/webhook"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
  - name: Workflows
    description: >-
      Every project environment comes with a single workflow marked as Default.
      In subscriptions with [Multiple workflows](https://kontent.ai/pricing/),
      your environments might contain several workflows with different workflow
      steps.


      The workflows themselves consist of a number of steps, with two predefined
      steps, Published and Archived. Workflow steps indicate a specific stage in
      the content production process. For example, Draft -> Review -> Legal
      approval -> Published. Every
      [variant](https://kontent.ai/learn/link-to/id/153c924f-ed81-4236-8cfb-7937329654d8)
      of a content item (such as English, Spanish, French) can be moved to a
      specific workflow step.


      The combination of workflow and its workflow step might affect who can
      edit the variant and who can move the variant to another workflow step.
      Check how to [set up a
      workflow](https://kontent.ai/learn/link-to/id/9a4df3f8-4568-4830-be6d-f864e6509475)
      for your content.


      ## Workflow object


      <SchemaDefinition
      schemaRef="#/components/schemas/untitled_content_item_a321cba"
      showReadOnly={true} showWriteOnly={true} showExample={true}/>
paths:
  '/projects/{environment_id}/files/{file_name}':
    post:
      operationId: upload-a-binary-file
      description: >+
        Add a new file. The uploaded file will not be visible in the Kontent.ai
        UI unless you [add an
        asset](https://kontent.ai/learn/link-to/id/33e07eb5-fa13-4760-a42c-6674cdb3805f)
        that uses the file.




        <div class="callout callout--tip">


        **Adding assets is a 2-step process**


        1. [Upload a binary file](#operation/upload-a-binary-file) to get a file
        reference to the file.

        2. Use the file reference to [create a new
        asset](#operation/add-an-asset) that references the uploaded file.</div>

         

        <div class="callout callout--info">


        Maximum size limit for binary files is 100 MB.</div>

      responses:
        '200':
          $ref: '#/components/responses/n7b6a78fa_d874_011d_4e1b_1dac8dcaa000'
        '400':
          $ref: '#/components/responses/n01fa33a6_5014_01fa_2571_b8e07bdfbef5'
      tags:
        - Assets
      summary: Upload a binary file
      requestBody:
        $ref: '#/components/requestBodies/n8cfb03b0_6def_012f_3975_b88ea79ceedc'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            // Note that this approach works when using Node.js. See a worked
            example using the browser

            import { ManagementClient } from '@kontent-ai/management-sdk';

            import { readFileSync } from 'fs';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const data = readFileSync('which-brewing-fits-you-1080px.jpg');


            const response = await client.uploadBinaryFile()
              .withData({
                binaryData: data,
                contentLength: data.byteLength,
                contentType: 'image/jpeg',
                filename: 'which-brewing-fits-you-1080px.jpg'
              })
              .toPromise();
        - lang: 'C#'
          source: >-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net

            using Kontent.Ai.Management;


            var client = new ManagementClient(new ManagementOptions

            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });


            var filePath = Path.Combine(Environment.CurrentDirectory, "Data",
            "which-brewing-fits-you-1080px.jpg");

            var contentType = "image/jpeg";


            // Binary file reference to be used when adding a new asset

            var response = await client.UploadFileAsync(new
            FileContentSource(filePath, contentType));
        - lang: cURL
          source: |-
            curl --request POST \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/files/which-brewing-fits-you-1080px.jpg \
              --data-binary "@which-brewing-fits-you-1080px.jpg" \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: image/jpeg' \
              --header 'Content-length: 125770'
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/file_name'
        - $ref: '#/components/parameters/content_type_eb3978b'
        - $ref: '#/components/parameters/content_length'
  '/projects/{environment_id}/assets':
    post:
      operationId: add-an-asset
      description: >+
        Use a file reference to link an existing [binary
        file](https://kontent.ai/learn/link-to/id/ce2c4b08-10e7-4497-b1ef-8ceebc606fe0)
        to a new asset. You can also [create assets by
        upserting](https://kontent.ai/learn/link-to/id/8106fbb4-1e56-4fd7-a59e-335a3a8f970d)
        (PUT ```/assets/external-id/<external_id>```).




        <div class="callout callout--info">


        Each binary file can be referenced only by a single asset.</div>

      responses:
        '201':
          $ref: '#/components/responses/af723c1c_9ebc_01b1_e5af_ce89f39d9b31'
        '400':
          $ref: '#/components/responses/n4943e49b_5267_0126_711d_8f33e78fec39'
      tags:
        - Assets
      summary: Add an asset
      requestBody:
        $ref: '#/components/requestBodies/n17e393cd_b4e1_014e_c779_7313ee91358e'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const response = await client.addAsset()
              .withData((builder) => {
                return {
                  // To create a file reference, see the "Upload a binary file" endpoint
                  file_reference: {
                    id: 'fcbb12e6-66a3-4672-85d9-d502d16b8d9c',
                    type: 'internal'
                  },
                  title: 'Coffee Brewing Techniques',
                  external_id: 'which-brewing-fits-you',
                  descriptions: [
                    {
                      language: {
                        codename: 'en-US'
                      },
                      description: 'Coffee Brewing Techniques'
                    },
                    {
                      language: {
                        codename: 'es-ES'
                      },
                      description: 'Técnicas para hacer café'
                    }
                  ],
                  elements: [
                    builder.taxonomyElement({
                      element: {
                        codename: 'taxonomy-categories'
                      },
                      value: [
                        {
                          codename: 'coffee'
                        },
                        {
                          codename: 'brewing'
                        }
                      ]
                    }),
                  ]
                }
              })
              .toPromise();
        - lang: 'C#'
          source: |-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net
            using Kontent.Ai.Management;

            var client = new ManagementClient(new ManagementOptions
            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });

            var response = await client.CreateAssetAsync(new AssetCreateModel
            {
                FileReference = new FileReference
                {
                    Id = "fcbb12e6-66a3-4672-85d9-d502d16b8d9c",
                    Type = FileReferenceTypeEnum.Internal
                },
                Folder = Reference.ByExternalId("another-folder"),
                Title = "Coffee Brewing Techniques",
                ExternalId = "which-brewing-fits-you",
                Descriptions = new[]
                {
                    new AssetDescription
                    {
                        Language = Reference.ByCodename("en-US"),
                        Description = "Coffee Brewing Techniques"
                    },
                        new AssetDescription
                    {
                        Language = Reference.ByCodename("es-ES"),
                        Description = "Técnicas para hacer café"
                    }
                },
                Elements = ElementBuilder.GetElementsAsDynamic(
                    new TaxonomyElement
                    {
                        Element = Reference.ByCodename("taxonomy-categories"),
                        Value = new[]
                        {
                            Reference.ByCodename("coffee"),
                            Reference.ByCodename("brewing"),
                        }
                    })
            });
        - lang: cURL
          source: |-
            curl --request POST \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: application/json' \
              --data '
            {
              "file_reference": {
                "id": "fcbb12e6-66a3-4672-85d9-d502d16b8d9c",
                "type": "internal"
              },
              "folder": {
                "external_id": "another-folder"
              },
              "title": "Coffee Brewing Techniques",
              "external_id": "which-brewing-fits-you",
              "descriptions": [
                {
                  "language": {
                    "codename": "en-US"
                  },
                  "description": "Coffee Brewing Techniques"
                },
                {
                  "language": {
                    "codename": "es-ES"
                  },
                  "description": "Técnicas para hacer café"
                }
              ],
              "elements": [
                {
                  "element": {
                    "codename": "taxonomy-categories"
                  },
                  "value": [
                    {
                      "codename": "coffee"
                    },
                    {
                      "codename": "brewing"
                    }
                  ]
                }
              ]
            }'
      parameters:
        - $ref: '#/components/parameters/project_id'
    get:
      operationId: list-assets
      description: Retrieve a dynamically paginated list of assets.
      responses:
        '200':
          $ref: '#/components/responses/b53399df_0dad_0167_88e8_dd892fa17fe5'
        '400':
          $ref: '#/components/responses/continuation_token_error'
      tags:
        - Assets
      summary: List assets
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            // Gets the first page of results

            const response = await client.listAssets()
              .toPromise();

            // Gets all pages of results

            // const response = await client.listAssets()

            //   .toAllPromise();
        - lang: 'C#'
          source: |-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net
            using Kontent.Ai.Management;

            var client = new ManagementClient(new ManagementOptions
            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });

            // Gets the first page of results
            var response = await client.ListAssetsAsync();
        - lang: cURL
          source: |-
            curl --request GET \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'x-continuation: <continuation_token>' \
              --header 'Content-type: application/json'
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/x_continuation_4a04ea9'
  '/projects/{environment_id}/assets/{asset_identifier}':
    get:
      operationId: retrieve-an-asset
      description: Retrieve information about a single asset.
      responses:
        '200':
          $ref: '#/components/responses/n2f97196d_7fe0_01ed_e4ce_6a7035990d88'
        '404':
          $ref: '#/components/responses/f22ed817_7f88_01ad_eb30_668fe3a29103'
      tags:
        - Assets
      summary: Retrieve an asset
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const response = await client.viewAsset()
              .byAssetId('0270ea18-4842-4d09-9570-17b41bb37e2d')
              // .byAssetExternalId('which-brewing-fits-you')
              .toPromise();
        - lang: 'C#'
          source: >-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net

            using Kontent.Ai.Management;


            var client = new ManagementClient(new ManagementOptions

            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });


            var identifier =
            Reference.ById(Guid.Parse("fcbb12e6-66a3-4672-85d9-d502d16b8d9c"));

            // var identifier = Reference.ByCodename("which-brewing-fits-you");


            var response = await client.GetAssetAsync(identifier);


            Assert.NotNull(response);
        - lang: cURL
          source: >-
            curl --request GET \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets/fcbb12e6-66a3-4672-85d9-d502d16b8d9c \
            # --url
            https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets/external-id/which-brewing-fits-you
            \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: application/json
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/asset_identifier'
    put:
      operationId: upsert-an-asset
      description: 'Update an existing asset, or add a new asset specified by external ID.'
      responses:
        '200':
          $ref: '#/components/responses/n0b1f4a16_313b_018d_1fec_1056c1a7be5b'
        '201':
          $ref: '#/components/responses/n80b4a961_e63d_015e_52b6_d689651fd688'
        '400':
          $ref: '#/components/responses/n9b8239eb_f07c_01be_e6ea_ce75d6e8b118'
      tags:
        - Assets
      summary: Upsert an asset
      requestBody:
        $ref: '#/components/requestBodies/a951901e_aad5_0198_fbd9_1e7ffe981ce1'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            // Used when updating an existing item

            const response = await client.updateAsset()
              .byAssetExternalId('which-brewing-fits-you')
              // .byAssetId('fcbb12e6-66a3-4672-85d9-d502d16b8d9c')
              .withData((builder) => {
                return {
                  title: 'Coffee Brewing Techniques',
                  assetId: 'fcbb12e6-66a3-4672-85d9-d502d16b8d9c',
                  descriptions: [
                    {
                      language: {
                        codename: 'en-US'
                      },
                      description: 'Coffee Brewing Techniques'
                    },
                    {
                      language: {
                        codename: 'es-ES'
                      },
                      description: 'Técnicas para hacer café'
                    }
                  ],
                  elements: [
                    builder.taxonomyElement({
                      element: {
                        codename: 'taxonomy-categories'
                      },
                      value: [
                        {
                          codename: 'coffee'
                        },
                        {
                          codename: 'brewing'
                        }
                      ]
                    }),
                  ]
                }
              })
              .toPromise();


            // Used when creating a new asset or updating an existing one

            const response = await client.upsertAsset()
              .byAssetExternalId('which-brewing-fits-you')
              // .byAssetId('fcbb12e6-66a3-4672-85d9-d502d16b8d9c')
              .withData((builder) => {
                return {
                  // 'file_reference' is only required when creating a new asset
                  // To create a file reference, see the "Upload a binary file" endpoint
                  file_reference: {
                    id: 'fcbb12e6-66a3-4672-85d9-d502d16b8d9c',
                    type: 'internal'
                  },
                  title: 'Coffee Brewing Techniques',
                  external_id: 'which-brewing-fits-you',
                  descriptions: [
                    {
                      language: {
                        codename: 'en-US'
                      },
                      description: 'Coffee Brewing Techniques'
                    },
                    {
                      language: {
                        codename: 'es-ES'
                      },
                      description: 'Técnicas para hacer café'
                    }
                  ],
                  elements: [
                    builder.taxonomyElement({
                      element: {
                        codename: 'taxonomy-categories'
                      },
                      value: [
                        {
                          codename: 'coffee'
                        },
                        {
                          codename: 'brewing'
                        }
                      ]
                    }),
                  ]
                }
              })
              .toPromise();
        - lang: 'C#'
          source: >-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net

            using Kontent.Ai.Management;


            var client = new ManagementClient(new ManagementOptions

            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });


            var identifier = Reference.ByExternalId("which-brewing-fits-you");

            // var identifier =
            Reference.ById(Guid.Parse("fcbb12e6-66a3-4672-85d9-d502d16b8d9c"));


            // Used when creating a new asset or updating an existing one

            var updatedAssetResponse = await client.UpsertAssetAsync(identifier,
            new AssetUpsertModel

            {
                Title = "Coffee Brewing Techniques",
                Descriptions = new List<AssetDescription>
                {
                    new AssetDescription
                    {
                        Description = "Coffee Brewing Techniques",
                        Language = Reference.ByCodename("en-US")
                    },
                    new AssetDescription
                    {
                        Description = "Técnicas para hacer café",
                        Language = Reference.ByCodename("es-ES")
                    }
                },
                Elements = ElementBuilder.GetElementsAsDynamic(
                    new TaxonomyElement
                    {
                        Element = Reference.ByCodename("taxonomy-categories"),
                        Value = new[]
                        {
                            Reference.ByCodename("coffee"),
                            Reference.ByCodename("brewing"),
                        }
                    })
            });


            // Used when creating a new asset or updating an existing one

            var createdAssetResponse = await
            client.UpsertAssetAsync(Reference.ByExternalId("which-brewing-fits-you"),
            new AssetUpsertModel

            {
                // 'fileReference' is only required when creating a new asset
                // To create a file reference, see the "Upload a binary file" endpoint
                FileReference = new FileReference
                {
                    Id = "ab7bdf75-781b-4bf9-aed8-501048860402",
                    Type = FileReferenceTypeEnum.Internal
                },
                Title = "Coffee Brewing Techniques",
                Descriptions = new AssetDescription[]
                {
                    new AssetDescription
                    {
                        Description = "Coffee Brewing Techniques",
                        Language = Reference.ByCodename("en-US")
                    },
                    new AssetDescription
                    {
                        Description = "Técnicas para hacer café",
                        Language = Reference.ByCodename("es-ES")
                    }
                },
                Elements = ElementBuilder.GetElementsAsDynamic(
                    new TaxonomyElement
                    {
                        Element = Reference.ByCodename("taxonomy-categories"),
                        Value = new[]
                        {
                            Reference.ByCodename("coffee"),
                            Reference.ByCodename("brewing"),
                        }
                    })
            });
        - lang: cURL
          source: >-
            # The 'file_reference' property in the request body is only required
            when creating a new asset

            curl --request PUT \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets/external-id/which-brewing-fits-you \
            # --url
            https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets/fcbb12e6-66a3-4672-85d9-d502d16b8d9c
            \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: application/json'
              --data '
            {
              "file_reference": {
                "id": "fcbb12e6-66a3-4672-85d9-d502d16b8d9c",
                "type": "internal"
              },
              "title": "Coffee Brewing Techniques",
              "folder": {
                "external_id": "another-folder"
              },
              "descriptions": [
                {
                  "language": {
                    "codename": "en-US"
                  },
                  "description": "Coffee Brewing Techniques"
                },
                {
                  "language": {
                    "codename": "es-ES"
                  },
                  "description": "Técnicas para hacer café"
                }
              ],
              "elements": [
                {
                  "element": {
                    "codename": "taxonomy-categories"
                  },
                  "value": [
                    {
                      "codename": "coffee"
                    },
                    {
                      "codename": "brewing"
                    }
                  ]
                }
              ]
            }'
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/asset_identifier_for_upsert'
    delete:
      operationId: delete-an-asset
      description: Delete an unused asset from an environment.
      responses:
        '204':
          $ref: '#/components/responses/n8d78d5bc_6287_0171_d2a4_d07574bc89ca'
        '404':
          $ref: '#/components/responses/n61646fa7_ffda_015d_5537_c825d3febaf7'
      tags:
        - Assets
      summary: Delete an asset
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const response = await client.deleteAsset()
              .byAssetId('1b458663-d23a-441c-8cc2-c2825fe53b48')
              // .byAssetExternalId('which-brewing-fits-you')
              .toPromise();
        - lang: 'C#'
          source: >-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net

            using Kontent.Ai.Management;


            var client = new ManagementClient(new ManagementOptions

            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });


            var identifier =
            Reference.ById(Guid.Parse("fcbb12e6-66a3-4672-85d9-d502d16b8d9c"));

            // var identifier =
            Reference.ByExternalId("which-brewing-fits-you");


            await client.DeleteAssetAsync(identifier);
        - lang: cURL
          source: >-
            curl --request DELETE \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets/fcbb12e6-66a3-4672-85d9-d502d16b8d9c \
            # --url
            https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/assets/external-id/which-brewing-fits-you
            \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: application/json'
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/asset_identifier'
  '/projects/{environment_id}/folders':
    get:
      operationId: retrieve-asset-folders
      description: Retrieve an array of all asset folders.
      responses:
        '200':
          $ref: '#/components/responses/n6c1e7e91_f7dc_013c_a98b_ea2b13f815b8'
      tags:
        - Asset folders
      summary: Retrieve asset folders
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const response = await client.listAssetFolders()
              .toPromise();
        - lang: 'C#'
          source: |-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net
            using Kontent.Ai.Management;

            var client = new ManagementClient(new ManagementOptions
            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });

            var response = await client.GetAssetFoldersAsync();
        - lang: cURL
          source: |-
            curl --request GET \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/folders \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: application/json'
      parameters:
        - $ref: '#/components/parameters/project_id'
    post:
      operationId: add-asset-folders
      description: >-
        Add one or more asset folders. If your environment already has folders,
        use [modify asset
        folders](https://kontent.ai/learn/link-to/id/f9969c9e-2e51-48ca-8c84-2229e2461a5d)
        instead.
      responses:
        '201':
          $ref: '#/components/responses/n56c7deea_b0cd_016e_7556_d675cfec796a'
        '400':
          $ref: '#/components/responses/ebe9939f_cecb_011c_17c8_0818fdcc847b'
      tags:
        - Asset folders
      summary: Add asset folders
      requestBody:
        $ref: '#/components/requestBodies/ec5d1a0d_4424_015d_69a4_34188cd3a5b1'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const response = await client.addAssetFolders()
              .withData(
                {
                  folders: [
                    {
                      id: "958001d8-2228-4373-b966-5262b5b96f71",
                      name: "Downloads",
                      external_id: "folder-with-downloadable-assets",
                      folders: [
                        {
                          id: "9ca927b6-6e4d-4d6b-81e3-ec5e8f7772a0",
                          name: "Archives",
                          external_id: "folder-with-downloadable-archives",
                          folders: []
                        }
                      ]
                    },
                    {
                      id: "9ca927b6-6e4d-4d6b-81e3-ec5e8f7772a0",
                      name: "Legal documents",
                      external_id: "folder-documents",
                      folders: []
                    }
                  ]
                }
              )
              .toPromise();
        - lang: 'C#'
          source: >-
            // Tip: Find more about .NET SDKs at https://kontent.ai/learn/net

            using Kontent.Ai.Management;


            var client = new ManagementClient(new ManagementOptions

            {
                ApiKey = "<YOUR_API_KEY>",
                ProjectId = "<YOUR_PROJECT_ID>"
            });


            var response = await client.CreateAssetFoldersAsync(new
            AssetFolderCreateModel

            {
                Folders = new[]
                {
                    new AssetFolderHierarchy
                    {
                        Name = "Top level folder",
                        ExternalId = "top-folder",
                        Folders = new []
                        {
                            new AssetFolderHierarchy
                            {
                                Name = "Second level folder",
                                ExternalId = "second-folder",
                                Folders = Enumerable.Empty<AssetFolderHierarchy>(),
                            }
                        }
                    }
                }
            });
        - lang: cURL
          source: |-
            curl --request POST \
              --url https://manage.kontent.ai/v2/projects/<YOUR_ENVIRONMENT_ID>/folders \
              --header 'Authorization: Bearer <YOUR_API_KEY>' \
              --header 'Content-type: application/json' \
              --data '
            {
              "folders": [
                {
                  "name": "Top level folder",
                  "external_id": "top-folder",
                  "folders": [
                    {
                      "name": "Second level folder",
                      "external_id": "second-folder",
                      "folders": []
                    }
                  ]
                }
              ]
            }'
      parameters:
        - $ref: '#/components/parameters/project_id'
    patch:
      operationId: modify-asset-folders
      description: >-
        Add, rename, or remove [asset
        folders](https://kontent.ai/learn/link-to/id/4bc4eea4-1f5a-4d86-a6cb-38d105f2d474).
      responses:
        '200':
          $ref: '#/components/responses/c3b9449e_b1e2_0103_27a9_af87b872427e'
        '400':
          $ref: '#/components/responses/n2e0fb4f9_7c67_01de_fee4_22855c1b8ca5'
      tags:
        - Asset folders
      summary: Modify asset folders
      requestBody:
        $ref: '#/components/requestBodies/a57f908d_1f5e_011c_49b4_0d0bad3a8893'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            // Tip: Find more about JS/TS SDKs at
            https://kontent.ai/learn/javascript

            // Using ES6 syntax

            import { ManagementClient } from '@kontent-ai/management-sdk';


            const client = new ManagementClient({
              environmentId: '<YOUR_ENVIRONMENT_ID>',
              apiKey: '<YOUR_API_KEY>'
            });


            const response = await client.modifyAssetFolders()
              .withData(
                [
                  {
                    op: "addinto",
                    value: {
[...]
